$colorPrimary: #34417d;
$colorSecondary:#fff212;
$colorTertiary:#219bff;
$colorBlack:#000;
$colorWhite: #ffffff;
$copyrightBG:#282829;
$footerBG:#545775;
$colorGrey:#f7f7f7;
$colorHF:#2a6199;

$gradientOne:linear-gradient(90deg, $colorPrimary 0%, $colorTertiary 100%);

$transition: 0.4s ease;

$boxShadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

$ExoBold:"Exo Bold", sans-serif;
$ExoReg:"Exo Regular", sans-serif;
$ExoThin:"Exo Thin", sans-serif;


$icon-clr-one: #c7212f;
$icon-clr-two: #407f46;
$icon-clr-three: #14496b;

:root {
    --icon-clr: #{$icon-clr-one};
    --icon-clr: #{$icon-clr-two};
    --icon-clr: #{$icon-clr-three};
}