@keyframes ripple {
    0% {
    transform: scale(1);
    }
    75% {
        transform: scale(1.45);
        opacity: 1;
    }
    100% {
        transform: scale(1.75);
        opacity: 0;
    }
    }
    @keyframes bounce {
        20%, 53%, 80%, 0%, 100% {
            animation-timing-function: cubic-bezier(.215,.61,.355,1);
            transform: translate3d(0, 0, 0);
        }
        40%, 43% {
            animation-timing-function: cubic-bezier(.755,.050,.855,.060);
            transform: translate3d(0, -30px, 0);
        }
        
        70% {
            animation-timing-function: cubic-bezier(.755,.050,.855,.060);
            transform: translate3d(0, -15px, 0);
        }
        90% {
            transform: translate3d(0, -4px, 0);
        }
    }

    @keyframes btnbounce {
		0%, 20%, 50%, 80%, 100% {
			transform: translateY(0);
		}
		40% {
			transform: translateY(-10px);
		}
		60% {
			transform: translateY(-5px);
		}
	}